<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>联新智慧医院平台</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
</head>

<body>
  <div id="root"></div>

  <script src="dll/vendor/vendor.js"></script>
  <script src="dll/app/app.js"></script>
</body>

</html>
